In [2]:
import pandas as pd
import numpy as np
from collections import defaultdict
import math
import scipy.linalg
import  sys
from sklearn import preprocessing

In [3]:
df = pd.read_csv('ozone.csv')

FileNotFoundError: File b'ozone.csv' does not exist

In [286]:
df.head()

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection
0,87.0,15.6,18.5,NaN,4.0,4.0,8.0,0.6946,-1.7101,-0.6946,84.0,North
1,82.0,NaN,NaN,NaN,5.0,5.0,7.0,-4.3301,-4.0000,-3.0000,87.0,North
2,92.0,15.3,17.6,19.5,2.0,NaN,NaN,2.9544,NaN,0.5209,82.0,East
3,114.0,16.2,19.7,NaN,1.0,1.0,0.0,NaN,0.3473,-0.1736,92.0,North
4,94.0,NaN,20.5,20.4,NaN,NaN,NaN,-0.5000,-2.9544,-4.3301,114.0,West

In [287]:
original_cols = df.columns

In [288]:
columns_missing  = {}
columns_missing = defaultdict(lambda : 0, columns_missing)
values = df.values

In [289]:
x = []
for i in range(len(values)):
    if i%10 == 0:
        values[i][-1] = np.nan

In [290]:
df = pd.DataFrame(values, columns =df.columns)

In [291]:
for col in df.columns:
    columns_missing[col] = df[col].isna().sum()

In [292]:
columns_missing

defaultdict(<function __main__.<lambda>()>,
            {'maxO3': 16,
             'T9': 37,
             'T12': 33,
             'T15': 37,
             'Ne9': 34,
             'Ne12': 42,
             'Ne15': 32,
             'Vx9': 18,
             'Vx12': 10,
             'Vx15': 21,
             'maxO3v': 12,
             'WindDirection': 12})

### One hot Encoding for the categorical variable wind direction

In [293]:
categories = df['WindDirection'].unique()
categories = list(categories)
categories.remove(np.nan)
for i in categories:
    if i is not np.nan:
        df[i] = 0

In [294]:
df.head()

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection,North,East,West,South
0,87,15.6,18.5,NaN,4,4,8,0.6946,-1.7101,-0.6946,84,NaN,0,0,0,0
1,82,NaN,NaN,NaN,5,5,7,-4.3301,-4,-3,87,North,0,0,0,0
2,92,15.3,17.6,19.5,2,NaN,NaN,2.9544,NaN,0.5209,82,East,0,0,0,0
3,114,16.2,19.7,NaN,1,1,0,NaN,0.3473,-0.1736,92,North,0,0,0,0
4,94,NaN,20.5,20.4,NaN,NaN,NaN,-0.5,-2.9544,-4.3301,114,West,0,0,0,0

In [295]:
for index, direction in enumerate(df['WindDirection']):
    if direction is np.nan:
        for i in categories:
            df[i].iloc[index] = np.nan
    else:
        df[direction].iloc[index] = 1

C:\Users\Lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [296]:
df.head()

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection,North,East,West,South
0,87,15.6,18.5,NaN,4,4,8,0.6946,-1.7101,-0.6946,84,NaN,NaN,NaN,NaN,NaN
1,82,NaN,NaN,NaN,5,5,7,-4.3301,-4,-3,87,North,1.0,0.0,0.0,0.0
2,92,15.3,17.6,19.5,2,NaN,NaN,2.9544,NaN,0.5209,82,East,0.0,1.0,0.0,0.0
3,114,16.2,19.7,NaN,1,1,0,NaN,0.3473,-0.1736,92,North,1.0,0.0,0.0,0.0
4,94,NaN,20.5,20.4,NaN,NaN,NaN,-0.5,-2.9544,-4.3301,114,West,0.0,0.0,1.0,0.0

In [297]:
missing_flag = df.isna()
missing_flag = missing_flag.drop(columns=['WindDirection'])

### Initial imputation with mean for numerical variables and proportion for categorical variables

In [298]:
numerical = ['maxO3', 'T9', 'T12', 'T15', 'Ne9', 'Ne12', 'Ne15', 'Vx9', 'Vx12','Vx15', 'maxO3v']
categorical = ['North', 'East', 'West', 'South']

In [299]:
df.head()

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection,North,East,West,South
0,87,15.6,18.5,NaN,4,4,8,0.6946,-1.7101,-0.6946,84,NaN,NaN,NaN,NaN,NaN
1,82,NaN,NaN,NaN,5,5,7,-4.3301,-4,-3,87,North,1.0,0.0,0.0,0.0
2,92,15.3,17.6,19.5,2,NaN,NaN,2.9544,NaN,0.5209,82,East,0.0,1.0,0.0,0.0
3,114,16.2,19.7,NaN,1,1,0,NaN,0.3473,-0.1736,92,North,1.0,0.0,0.0,0.0
4,94,NaN,20.5,20.4,NaN,NaN,NaN,-0.5,-2.9544,-4.3301,114,West,0.0,0.0,1.0,0.0

In [300]:
df.columns

Index(['maxO3', 'T9', 'T12', 'T15', 'Ne9', 'Ne12', 'Ne15', 'Vx9', 'Vx12',
       'Vx15', 'maxO3v', 'WindDirection', 'North', 'East', 'West', 'South'],
      dtype='object')

In [301]:
proportions = dict(df['WindDirection'].value_counts(normalize=True)) # replacing with proportions

proportions

{'West': 0.45, 'North': 0.24, 'South': 0.21, 'East': 0.1}

In [302]:
for col in numerical:
    df[col] = df[col].replace(np.nan,df[col].mean()) #initially replacing with means
for col in categorical:
    df[col] = df[col].replace(np.nan, proportions[col])

### Weight matrix ( 0 for missing values  and 1 for not missing)

In [303]:
weights = np.zeros((112,15))
for i in range(len(missing_flag.values)):
    for j in range(len(missing_flag.values[0])):
        if missing_flag.values[i][j] == False:
            weights[i][j] = 1

In [304]:
df.head

<bound method NDFrame.head of           maxO3         T9        T12        T15       Ne9      Ne12  Ne15  \
0     87.000000  15.600000  18.500000  22.405333  4.000000  4.000000   8.0
1     82.000000  18.218667  21.462025  22.405333  5.000000  5.000000   7.0
2     92.000000  15.300000  17.600000  19.500000  2.000000  4.985714   4.6
3    114.000000  16.200000  19.700000  22.405333  1.000000  1.000000   0.0
4     94.000000  18.218667  20.500000  20.400000  4.987179  4.985714   4.6
5     80.000000  17.700000  19.800000  18.300000  6.000000  4.985714   7.0
6     79.000000  16.800000  15.600000  14.900000  7.000000  8.000000   4.6
7     79.000000  14.900000  17.500000  18.900000  5.000000  5.000000   4.6
8    101.000000  16.100000  19.600000  21.400000  2.000000  4.985714   4.0
9    106.000000  18.300000  21.462025  22.900000  5.000000  4.985714   4.6
10   101.000000  17.300000  19.300000  20.200000  7.000000  7.000000   3.0
11    90.000000  17.600000  20.300000  17.400000  4.987179  6.000000   8.0
12    72.000000  18.218667  21.462025  22.405333  7.000000  5.000000   6.0
13    70.000000  17.100000  18.200000  18.000000  4.987179  7.000000   4.6
14    83.000000  15.400000  21.462025  16.600000  8.000000  7.000000   4.6
15    88.000000  18.218667  19.100000  22.405333  6.000000  5.000000   4.0
16    91.239583  21.000000  24.600000  26.900000  4.987179  4.985714   1.0
17    91.239583  18.218667  21.462025  22.405333  4.987179  4.985714   4.6
18   121.000000  19.700000  24.200000  26.900000  2.000000  1.000000   0.0
19   146.000000  23.600000  28.600000  28.400000  4.987179  4.985714   4.6
20   121.000000  20.400000  25.200000  27.700000  1.000000  0.000000   0.0
21   146.000000  18.218667  21.462025  22.405333  4.987179  0.000000   0.0
22   108.000000  24.000000  23.500000  22.405333  4.000000  4.000000   0.0
23    83.000000  19.700000  22.900000  24.800000  4.987179  4.985714   4.6
24    91.239583  18.218667  21.462025  22.405333  4.987179  4.985714   4.6
25    81.000000  18.218667  21.462025  22.405333  3.000000  4.000000   4.0
26    67.000000  18.218667  23.400000  23.700000  4.987179  4.985714   4.6
27    70.000000  18.218667  21.462025  22.405333  5.000000  2.000000   1.0
28   106.000000  18.218667  21.462025  22.405333  4.987179  0.000000   1.0
29   139.000000  18.218667  30.100000  31.900000  4.987179  1.000000   4.0
..          ...        ...        ...        ...       ...       ...   ...
82    91.239583  21.000000  24.400000  22.405333  1.000000  6.000000   3.0
83    91.239583  16.900000  17.800000  20.600000  4.987179  4.985714   7.0
84    76.000000  18.218667  18.600000  18.700000  7.000000  7.000000   7.0
85    59.000000  16.500000  20.300000  20.300000  5.000000  7.000000   6.0
86    78.000000  17.700000  20.200000  21.500000  4.987179  4.985714   4.6
87    76.000000  17.300000  22.700000  24.600000  4.000000  4.985714   6.0
88    55.000000  15.300000  16.800000  19.200000  8.000000  7.000000   5.0
89    71.000000  15.900000  19.200000  19.500000  7.000000  5.000000   3.0
90    91.239583  16.200000  18.900000  19.300000  2.000000  5.000000   6.0
91    59.000000  18.218667  21.462025  22.405333  7.000000  7.000000   7.0
92    91.239583  18.218667  21.462025  22.405333  6.000000  5.000000   4.6
93    63.000000  17.300000  19.800000  19.400000  4.987179  4.985714   4.6
94    91.239583  14.200000  22.200000  22.405333  5.000000  4.985714   6.0
95    74.000000  15.800000  18.700000  19.100000  4.987179  7.000000   7.0
96    71.000000  15.200000  17.900000  18.600000  4.987179  4.985714   4.6
97    69.000000  17.100000  17.700000  17.500000  6.000000  7.000000   8.0
98    71.000000  15.400000  21.462025  16.600000  4.000000  5.000000   5.0
99    60.000000  18.218667  21.462025  22.405333  4.000000  5.000000   4.0
100   42.000000  18.218667  14.300000  14.900000  8.000000  7.000000   7.0
101   65.000000  14.800000  21.462025  15.900000  7.000000  4.985714   7.0
102   71.000000  15.500000  18.000000  17.400000  7.000000  7.000000   6.0
103   96.000000  11.300000  21.462025  20.200000  3.000000  3.000000   3.0
104   98.000000  15.200000  19.700000  20.300000  2.000000  2.000000   2.0
105   92.000000  18.218667  17.600000  18.200000  1.000000  4.000000   6.0
106   76.000000  13.300000  17.700000  17.700000  4.987179  4.985714   4.6
107   91.239583  13.300000  21.462025  17.800000  3.000000  5.000000   4.6
108   77.000000  16.200000  20.800000  22.405333  4.987179  4.985714   4.6
109   99.000000  18.218667  21.462025  22.405333  4.987179  4.985714   4.6
110   83.000000  18.218667  21.462025  22.405333  4.987179  5.000000   3.0
111   70.000000  15.700000  18.600000  20.700000  7.000000  4.985714   7.0

          Vx9      Vx12      Vx15  maxO3v WindDirection  North  East  West  \
0    0.694600 -1.710100 -0.694600   84.00           NaN   0.24   0.1  0.45
1   -4.330100 -4.000000 -3.000000   87.00         North   1.00   0.0  0.00
2    2.954400 -1.685325  0.520900   82.00          East   0.00   1.0  0.00
3   -1.095754  0.347300 -0.173600   92.00         North   1.00   0.0  0.00
4   -0.500000 -2.954400 -4.330100  114.00          West   0.00   0.0  1.00
5   -5.638200 -5.000000 -6.000000   94.00          West   0.00   0.0  1.00
6   -4.330100 -1.879400 -3.758800   80.00          West   0.00   0.0  1.00
7    0.000000 -1.041900 -1.389200   99.00         North   1.00   0.0  0.00
8   -0.766000 -1.026100 -2.298100   79.00         North   1.00   0.0  0.00
9    1.285600 -2.298100 -3.939200  101.00          West   0.00   0.0  1.00
10  -1.500000 -1.500000 -0.868200  106.00           NaN   0.24   0.1  0.45
11  -1.095754 -1.041900 -0.694600  101.00         South   0.00   0.0  0.00
12  -0.868200 -2.736200 -6.894400   90.00         South   0.00   0.0  0.00
13  -1.095754 -7.878500 -5.196200   72.00          West   0.00   0.0  1.00
14  -4.330100 -2.052100 -3.000000   70.00         North   1.00   0.0  0.00
15   0.520900 -2.954400 -1.026100   83.00          West   0.00   0.0  1.00
16  -0.342000 -1.685325 -0.684000  121.00          West   0.00   0.0  1.00
17   0.000000  0.347300 -2.571200   89.39         North   1.00   0.0  0.00
18  -1.095754 -1.685325  2.000000   81.00          East   0.00   1.0  0.00
19   1.000000 -1.928400 -1.215500  121.00         South   0.00   0.0  0.00
20  -1.095754 -0.520900  1.026100  146.00           NaN   0.24   0.1  0.45
21   2.954400  6.577800 -1.830079  121.00          East   0.00   1.0  0.00
22  -2.571200 -3.856700 -4.698500  146.00         South   0.00   0.0  0.00
23  -2.598100 -1.685325 -1.830079   89.39          West   0.00   0.0  1.00
24  -5.638200 -3.830200 -4.596300   83.00          West   0.00   0.0  1.00
25  -1.928400 -2.571200 -4.330100   57.00         South   0.00   0.0  0.00
26  -1.532100 -3.064200 -0.868200   81.00          West   0.00   0.0  1.00
27   0.684000  0.000000  1.368100   67.00         North   1.00   0.0  0.00
28   2.819100  3.939200  3.464100   70.00          East   0.00   1.0  0.00
29   1.879400  2.000000  1.368100  106.00         South   0.00   0.0  0.00
..        ...       ...       ...     ...           ...    ...   ...   ...
82   4.000000  4.000000  3.758800  114.00          East   0.00   1.0  0.00
83  -2.000000 -0.520900  1.879400  112.00         North   1.00   0.0  0.00
84  -3.464100 -4.000000 -1.732100  101.00          West   0.00   0.0  1.00
85  -4.330100 -5.362300 -1.830079   76.00          West   0.00   0.0  1.00
86  -1.095754  0.520900  0.000000   59.00         North   1.00   0.0  0.00
87  -2.954400 -2.954400 -2.000000   89.39          West   0.00   0.0  1.00
88  -1.879400 -1.685325 -2.394100   76.00          West   0.00   0.0  1.00
89  -1.095754 -1.685325 -1.389200   55.00         North   1.00   0.0  0.00
90  -1.368100 -0.868200 -1.830079   71.00           NaN   0.24   0.1  0.45
91  -1.095754 -1.928400 -1.710100   66.00         North   1.00   0.0  0.00
92  -1.500000 -3.464100 -3.064200   59.00          West   0.00   0.0  1.00
93  -4.596300 -6.062200 -4.330100   68.00          West   0.00   0.0  1.00
94  -0.866000 -5.000000 -1.830079   62.00          West   0.00   0.0  1.00
95  -4.596300 -6.893700 -1.830079   78.00          West   0.00   0.0  1.00
96  -1.041900 -1.368100 -1.830079   74.00         North   1.00   0.0  0.00
97  -5.196200 -2.736200 -1.041900   71.00         North   1.00   0.0  0.00
98  -3.830200  0.000000  1.389200   69.00         North   1.00   0.0  0.00
99   0.000000  3.213900  0.000000   71.00         North   1.00   0.0  0.00
100 -2.500000 -3.213900 -2.500000   60.00           NaN   0.24   0.1  0.45
101 -1.095754 -6.062200 -5.196200   42.00          West   0.00   0.0  1.00
102 -3.939200 -3.064200  0.000000   65.00          West   0.00   0.0  1.00
103 -0.173600  3.758800  3.830200   71.00          East   0.00   1.0  0.00
104  4.000000  5.000000 -1.830079   96.00          East   0.00   1.0  0.00
105  5.196200  5.142300 -1.830079   98.00         North   1.00   0.0  0.00
106 -0.939700 -0.766000 -0.500000   89.39          West   0.00   0.0  1.00
107  0.000000 -1.000000 -1.285600   76.00         South   0.00   0.0  0.00
108 -0.694600 -2.000000 -1.830079   71.00         South   0.00   0.0  0.00
109  1.500000  0.868200  0.868200   89.39         South   0.00   0.0  0.00
110 -4.000000 -3.758800 -4.000000   99.00           NaN   0.24   0.1  0.45
111 -1.095754 -1.041900 -4.000000   83.00         South   0.00   0.0  0.00

     South
0     0.21
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.00
9     0.00
10    0.21
11    1.00
12    1.00
13    0.00
14    0.00
15    0.00
16    0.00
17    0.00
18    0.00
19    1.00
20    0.21
21    0.00
22    1.00
23    0.00
24    0.00
25    1.00
26    0.00
27    0.00
28    0.00
29    1.00
..     ...
82    0.00
83    0.00
84    0.00
85    0.00
86    0.00
87    0.00
88    0.00
89    0.00
90    0.21
91    0.00
92    0.00
93    0.00
94    0.00
95    0.00
96    0.00
97    0.00
98    0.00
99    0.00
100   0.21
101   0.00
102   0.00
103   0.00
104   0.00
105   0.00
106   0.00
107   1.00
108   1.00
109   1.00
110   0.21
111   1.00

[112 rows x 16 columns]>

In [305]:

scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(df.drop(columns = ['WindDirection']))
# scaled_df = pd.DataFrame(df.drop(columns = ['WindDirection']), columns=df.drop(columns = ['WindDirection']).columns)
# for col in scaled_df.columns:
#     scaled_df[col] = (scaled_df[col] - scaled_df[col].mean() / scaled_df[col].std())

U, sigma, V_transpose = np.linalg.svd(scaled_df) 
U.shape
sigma.shape
V_transpose.shape

(15, 15)

In [306]:
temp  =np.matmul( U[:,:15], np.diag(sigma)) 
X_hat = np.matmul(temp,  V_transpose)

In [307]:
X_hat

array([[-1.59087233e-01, -1.08146972e+00, -8.74021751e-01, ...,
         1.20825734e-15, -1.77986531e-15,  3.15709426e-16],
       [-3.46708539e-01, -1.29904522e-15, -2.17607827e-15, ...,
        -3.52766841e-01, -9.57268842e-01, -5.45638634e-01],
       [ 2.85340737e-02, -1.20536518e+00, -1.13958990e+00, ...,
         3.17490157e+00, -9.57268842e-01, -5.45638634e-01],
       ...,
       [ 2.91203903e-01, -1.11640197e-15,  3.88743083e-16, ...,
        -3.52766841e-01, -9.57268842e-01,  2.05264058e+00],
       [-3.09184278e-01, -1.92089109e-15, -2.09862430e-16, ...,
        -1.00337274e-16, -7.04909376e-16,  1.07610233e-15],
       [-7.96999675e-01, -1.04017123e+00, -8.44514179e-01, ...,
        -3.52766841e-01, -9.57268842e-01,  2.05264058e+00]])

In [308]:
X_new = np.multiply(weights,scaled_df) + np.multiply((1-weights), X_hat)
tolerance = ((X_hat - X_new)**2).mean(axis=None)
tolerance

1.5672032319925555e-30

In [310]:
X_new_unscaled = scaler.inverse_transform(X_new)

In [311]:
X_new_unscaled

array([[87.        , 15.6       , 18.5       , ...,  0.1       ,
         0.45      ,  0.21      ],
       [82.        , 18.21866667, 21.46202532, ...,  0.        ,
         0.        ,  0.        ],
       [92.        , 15.3       , 17.6       , ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [99.        , 18.21866667, 21.46202532, ...,  0.        ,
         0.        ,  1.        ],
       [83.        , 18.21866667, 21.46202532, ...,  0.1       ,
         0.45      ,  0.21      ],
       [70.        , 15.7       , 18.6       , ...,  0.        ,
         0.        ,  1.        ]])

In [312]:
df.head()

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection,North,East,West,South
0,87.0,15.600000,18.500000,22.405333,4.000000,4.000000,8.0,0.694600,-1.710100,-0.6946,84.0,NaN,0.24,0.1,0.45,0.21
1,82.0,18.218667,21.462025,22.405333,5.000000,5.000000,7.0,-4.330100,-4.000000,-3.0000,87.0,North,1.00,0.0,0.00,0.00
2,92.0,15.300000,17.600000,19.500000,2.000000,4.985714,4.6,2.954400,-1.685325,0.5209,82.0,East,0.00,1.0,0.00,0.00
3,114.0,16.200000,19.700000,22.405333,1.000000,1.000000,0.0,-1.095754,0.347300,-0.1736,92.0,North,1.00,0.0,0.00,0.00
4,94.0,18.218667,20.500000,20.400000,4.987179,4.985714,4.6,-0.500000,-2.954400,-4.3301,114.0,West,0.00,0.0,1.00,0.00